
# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/

# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/Flutter/ephemeral/
**/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# Coverage
coverage/

# Symbols
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
build/c7922d95bf4a2462b75c84a97c312edb.cache.dill.track.dill
build/ios/Debug-iphonesimulator/.last_build_id
build/ios/Debug-iphonesimulator/App.framework/App
build/ios/Debug-iphonesimulator/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/isolate_snapshot_data
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/NOTICES.Z
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/vm_snapshot_data
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
build/ios/Debug-iphonesimulator/Flutter.framework/Flutter
build/ios/Debug-iphonesimulator/Flutter.framework/icudtl.dat
build/ios/Debug-iphonesimulator/Flutter.framework/Info.plist
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterBinaryMessenger.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterChannels.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterEngine.h
build/ios/Debug-iphonesimulator/Flutter.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Assets.car
build/ios/Debug-iphonesimulator/Runner.app/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Runner
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES.Z
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/icudtl.dat
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterBinaryMessenger.h
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterChannels.h
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterEngine.h
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.swiftmodule/arm64-apple-ios-simulator.swiftdoc
build/ios/Debug-iphonesimulator/Runner.swiftmodule/arm64-apple-ios-simulator.swiftmodule
build/ios/Debug-iphonesimulator/Runner.swiftmodule/Project/arm64-apple-ios-simulator.swiftsourceinfo
build/ios/iphonesimulator/Runner.app/Assets.car
build/ios/iphonesimulator/Runner.app/Info.plist
build/ios/iphonesimulator/Runner.app/Runner
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES.Z
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/icudtl.dat
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Info.plist
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterBinaryMessenger.h
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterChannels.h
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterEngine.h
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/_CodeSignature/CodeResources
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/version
